Node-red/node-red.xml
[{"id":"353fdc57.5b8934","type":"tab","label":"Ambiente y Correo","disabled":false,"info":""},{"id":"2a49828d.12068e","type":"tab","label":"TV","disabled":false,"info":""},{"id":"e544c915.db4398","type":"tab","label":"Ventilador","disabled":false,"info":""},{"id":"d437cdc6.d8139","type":"tab","label":"Aire","disabled":false,"info":""},{"id":"310169d4.057726","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6f79874a.04ebe8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"aa8a22de.59c6f","type":"ui_tab","z":"","name":"Casa de Don Miguel","icon":"dashboard","disabled":false,"hidden":false},{"id":"94627edf.8965f","type":"ui_group","z":"","name":"Ambiente","tab":"aa8a22de.59c6f","order":1,"disp":true,"width":"6","collapse":false},{"id":"3d2e881c.483368","type":"ui_group","z":"","name":"TV","tab":"aa8a22de.59c6f","order":3,"disp":true,"width":"6","collapse":false},{"id":"2fac1442.80d2ac","type":"ui_group","z":"","name":"Ventilador","tab":"aa8a22de.59c6f","order":2,"disp":true,"width":"6","collapse":false},{"id":"a612a355.8c1c2","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"e0c59da2.0e466","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"296fd53c.3efefa","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"b9cf63b3.c6219","type":"ui_group","z":"","name":"Aire","tab":"aa8a22de.59c6f","order":4,"disp":true,"width":"6","collapse":false},{"id":"9f1850be.9575a","type":"mqtt in","z":"353fdc57.5b8934","name":"","topic":"temperatura","qos":"2","datatype":"auto","broker":"310169d4.057726","x":112,"y":41,"wires":[["12604e7c.a036b2","69b3c2f3.8b845c"]]},{"id":"9508394d.fce0a8","type":"mqtt in","z":"353fdc57.5b8934","name":"","topic":"humedad","qos":"2","datatype":"auto","broker":"310169d4.057726","x":106,"y":114,"wires":[["957375c1.c0d6d8","2254f371.3de01c"]]},{"id":"cf120ded.b6463","type":"http in","z":"353fdc57.5b8934","name":"","url":"/em","method":"get","upload":false,"swaggerDoc":"","x":104,"y":247,"wires":[["baca67c1.e63248"]]},{"id":"baca67c1.e63248","type":"function","z":"353fdc57.5b8934","name":"","func":"var a = flow.get('email');\nvar t = flow.get('temperatura');\nvar h = flow.get('humedad');\n\nvar mensaje = \"En casa la temperatura es de \" + t + \" grados y la humedad es de \" + h + \" por ciento\"\n\nmsg.payload = '{\"num\": \"'+ a +'\" ,\"respuesta\": \"'+ mensaje +'\" }'\nflow.set('email','no tienes correo');\n\nreturn msg;\n","outputs":1,"noerr":0,"x":283,"y":247,"wires":[["addb48bc.534d28"]]},{"id":"957375c1.c0d6d8","type":"function","z":"353fdc57.5b8934","name":"","func":"flow.set('humedad',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":113,"wires":[[]]},{"id":"12604e7c.a036b2","type":"function","z":"353fdc57.5b8934","name":"","func":"flow.set('temperatura',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":316,"y":41,"wires":[[]]},{"id":"d5eb12a6.1aea1","type":"e-mail in","z":"353fdc57.5b8934","name":"","protocol":"IMAP","server":"imap.ionos.es","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"300","fetch":"auto","inputs":0,"x":104,"y":177,"wires":[["2630b7c4.50e118","ec4d737.ca4dc9"]]},{"id":"2630b7c4.50e118","type":"function","z":"353fdc57.5b8934","name":"","func":"flow.set('email','tienes correo');\n\nreturn msg;","outputs":1,"noerr":0,"x":316,"y":176,"wires":[[]]},{"id":"addb48bc.534d28","type":"http response","z":"353fdc57.5b8934","name":"","statusCode":"","headers":{},"x":480,"y":246,"wires":[]},{"id":"2e86713.04d2f8e","type":"inject","z":"353fdc57.5b8934","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":132,"y":310,"wires":[["e31e3098.77732"]]},{"id":"e31e3098.77732","type":"function","z":"353fdc57.5b8934","name":"correo a no","func":"flow.set('email','no tienes correo');\n\nreturn msg;","outputs":1,"noerr":0,"x":337,"y":310,"wires":[[]]},{"id":"3d5992ee.3fb38e","type":"http in","z":"2a49828d.12068e","name":"","url":"/tv_on_off","method":"get","upload":false,"swaggerDoc":"","x":144,"y":72,"wires":[["2ff49778.0ea138","a932056c.d5a4e8"]]},{"id":"a932056c.d5a4e8","type":"exec","z":"2a49828d.12068e","command":"/home/masanpar/rm3/python-broadlink/cli/rmscript tele.on","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"tele on","x":400.5,"y":70.5,"wires":[["fa6afef9.5df41"],["fa6afef9.5df41"],[]]},{"id":"2ff49778.0ea138","type":"http response","z":"2a49828d.12068e","name":"","statusCode":"","headers":{},"x":414,"y":138,"wires":[]},{"id":"fa6afef9.5df41","type":"debug","z":"2a49828d.12068e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":70,"wires":[]},{"id":"915e0486.e3b5b8","type":"http in","z":"2a49828d.12068e","name":"","url":"/tv_up","method":"get","upload":false,"swaggerDoc":"","x":143,"y":213,"wires":[["53288fff.7d044","3d1ecb39.a52644"]]},{"id":"3d1ecb39.a52644","type":"exec","z":"2a49828d.12068e","command":"/home/masanpar/rm3/python-broadlink/cli/rmscript tele.vmas","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"tele up","x":418.5,"y":211.5,"wires":[["3d5064a7.8ede6c"],["3d5064a7.8ede6c"],[]]},{"id":"53288fff.7d044","type":"http response","z":"2a49828d.12068e","name":"","statusCode":"","headers":{},"x":432,"y":279,"wires":[]},{"id":"3d5064a7.8ede6c","type":"debug","z":"2a49828d.12068e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":658,"y":211,"wires":[]},{"id":"f5620b36.404ca8","type":"http in","z":"2a49828d.12068e","name":"","url":"/tv_dw","method":"get","upload":false,"swaggerDoc":"","x":170,"y":351,"wires":[["ed255c69.b3136","2c9727ca.1dc1c8"]]},{"id":"2c9727ca.1dc1c8","type":"exec","z":"2a49828d.12068e","command":"/home/masanpar/rm3/python-broadlink/cli/rmscript tele.vmenos","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"tele dw","x":446.5,"y":349.5,"wires":[["fef7d07e.8c9ea"],["fef7d07e.8c9ea"],[]]},{"id":"ed255c69.b3136","type":"http response","z":"2a49828d.12068e","name":"","statusCode":"","headers":{},"x":456,"y":394,"wires":[]},{"id":"fef7d07e.8c9ea","type":"debug","z":"2a49828d.12068e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":676,"y":349,"wires":[]},{"id":"63f898e0.f041a8","type":"http in","z":"2a49828d.12068e","name":"","url":"/tv_pv","method":"get","upload":false,"swaggerDoc":"","x":146,"y":483,"wires":[["677a425c.4d7ecc","29588369.85b24c"]]},{"id":"29588369.85b24c","type":"exec","z":"2a49828d.12068e","command":"/home/masanpar/rm3/python-broadlink/cli/rmscript tele.chmenos","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"tele pv","x":422.5,"y":481.5,"wires":[["f088d97d.63f5a8"],["f088d97d.63f5a8"],[]]},{"id":"677a425c.4d7ecc","type":"http response","z":"2a49828d.12068e","name":"","statusCode":"","headers":{},"x":436,"y":549,"wires":[]},{"id":"f088d97d.63f5a8","type":"debug","z":"2a49828d.12068e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":662,"y":481,"wires":[]},{"id":"e358b0e9.71676","type":"http in","z":"2a49828d.12068e","name":"","url":"/tv_nx","method":"get","upload":false,"swaggerDoc":"","x":141,"y":617,"wires":[["7b106b3b.d290d4","5ee782d.764257c"]]},{"id":"5ee782d.764257c","type":"exec","z":"2a49828d.12068e","command":"/home/masanpar/rm3/python-broadlink/cli/rmscript tele.chmas","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"tele nx","x":417.5,"y":615.5,"wires":[["4c21f466.738e2c"],["4c21f466.738e2c"],[]]},{"id":"7b106b3b.d290d4","type":"http response","z":"2a49828d.12068e","name":"","statusCode":"","headers":{},"x":431,"y":683,"wires":[]},{"id":"4c21f466.738e2c","type":"debug","z":"2a49828d.12068e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":657,"y":615,"wires":[]},{"id":"e77907a0.a98dd8","type":"http in","z":"2a49828d.12068e","name":"","url":"/tv_mute_on_off","method":"get","upload":false,"swaggerDoc":"","x":188,"y":760,"wires":[["1a76772.bcc3b89","5e0109eb.555e68"]]},{"id":"5e0109eb.555e68","type":"exec","z":"2a49828d.12068e","command":"/home/masanpar/rm3/python-broadlink/cli/rmscript tele.mute","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"tele mute","x":434.5,"y":758.5,"wires":[["9104659d.b34538"],["9104659d.b34538"],[]]},{"id":"1a76772.bcc3b89","type":"http response","z":"2a49828d.12068e","name":"","statusCode":"","headers":{},"x":438,"y":826,"wires":[]},{"id":"9104659d.b34538","type":"debug","z":"2a49828d.12068e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":664,"y":758,"wires":[]},{"id":"c2ad7217.5a443","type":"http in","z":"e544c915.db4398","name":"","url":"/vent_on_off","method":"get","upload":false,"swaggerDoc":"","x":144,"y":58,"wires":[["6f510307.fb133c","2e49354a.6801fa"]]},{"id":"2e49354a.6801fa","type":"exec","z":"e544c915.db4398","command":"/home/masanpar/rm3/python-broadlink/cli/rmscript dyson.on","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"dyson on","x":410.5,"y":56.5,"wires":[["e690974f.2a7288"],["e690974f.2a7288"],[]]},{"id":"6f510307.fb133c","type":"http response","z":"e544c915.db4398","name":"","statusCode":"","headers":{},"x":414,"y":124,"wires":[]},{"id":"e690974f.2a7288","type":"debug","z":"e544c915.db4398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":56,"wires":[]},{"id":"c3ca7ada.b59478","type":"http in","z":"e544c915.db4398","name":"","url":"/vent_up","method":"get","upload":false,"swaggerDoc":"","x":130,"y":256,"wires":[["c886417c.6ebb3","b557a07e.41bde"]]},{"id":"b557a07e.41bde","type":"exec","z":"e544c915.db4398","command":"/home/masanpar/rm3/python-broadlink/cli/rmscript dyson.mas","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"dyson up","x":403.5,"y":254.5,"wires":[["db4d8b4d.5d5b98"],["db4d8b4d.5d5b98"],[]]},{"id":"c886417c.6ebb3","type":"http response","z":"e544c915.db4398","name":"","statusCode":"","headers":{},"x":407,"y":322,"wires":[]},{"id":"db4d8b4d.5d5b98","type":"debug","z":"e544c915.db4398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":633,"y":254,"wires":[]},{"id":"81d34ab8.c2cef8","type":"http in","z":"e544c915.db4398","name":"","url":"/vent_dw","method":"get","upload":false,"swaggerDoc":"","x":142,"y":410,"wires":[["6132f53a.cfb1fc","7df9b3f5.ae902c"]]},{"id":"7df9b3f5.ae902c","type":"exec","z":"e544c915.db4398","command":"/home/masanpar/rm3/python-broadlink/cli/rmscript dyson.menos","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"dyson dw","x":414.5,"y":410.5,"wires":[["e350c26.ee5414"],["e350c26.ee5414"],[]]},{"id":"6132f53a.cfb1fc","type":"http response","z":"e544c915.db4398","name":"","statusCode":"","headers":{},"x":418,"y":478,"wires":[]},{"id":"e350c26.ee5414","type":"debug","z":"e544c915.db4398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":644,"y":410,"wires":[]},{"id":"36e4a6b8.095fba","type":"http in","z":"e544c915.db4398","name":"","url":"/vent_sw","method":"get","upload":false,"swaggerDoc":"","x":132,"y":569,"wires":[["b3ef298c.3f44e8","40f22e2b.8d465"]]},{"id":"40f22e2b.8d465","type":"exec","z":"e544c915.db4398","command":"/home/masanpar/rm3/python-broadlink/cli/rmscript dyson.swing","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"dyson on","x":408.5,"y":567.5,"wires":[["228b1da4.0a3c22"],["228b1da4.0a3c22"],[]]},{"id":"b3ef298c.3f44e8","type":"http response","z":"e544c915.db4398","name":"","statusCode":"","headers":{},"x":412,"y":635,"wires":[]},{"id":"228b1da4.0a3c22","type":"debug","z":"e544c915.db4398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":638,"y":567,"wires":[]},{"id":"eb2bbcaa.52cc9","type":"http in","z":"d437cdc6.d8139","name":"","url":"/aire_on_off","method":"get","upload":false,"swaggerDoc":"","x":153,"y":51,"wires":[["4ded39b1.a17278","7eb16012.cb194"]]},{"id":"7eb16012.cb194","type":"exec","z":"d437cdc6.d8139","command":"/home/masanpar/rm3/python-broadlink/cli/rmscript daikin.on","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"daikin on","x":419.5,"y":49.5,"wires":[["1cccaa60.0507d6"],["1cccaa60.0507d6"],[]]},{"id":"4ded39b1.a17278","type":"http response","z":"d437cdc6.d8139","name":"","statusCode":"","headers":{},"x":423,"y":117,"wires":[]},{"id":"1cccaa60.0507d6","type":"debug","z":"d437cdc6.d8139","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":649,"y":49,"wires":[]},{"id":"3a6def4f.280e8","type":"http in","z":"d437cdc6.d8139","name":"","url":"/aire_up","method":"get","upload":false,"swaggerDoc":"","x":139,"y":249,"wires":[["125b42e0.f7475d","58324dc8.476364"]]},{"id":"58324dc8.476364","type":"exec","z":"d437cdc6.d8139","command":"/home/masanpar/rm3/python-broadlink/cli/rmscript daikin.mas","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"daikin up","x":412.5,"y":247.5,"wires":[["59655c26.bf8704"],["59655c26.bf8704"],[]]},{"id":"125b42e0.f7475d","type":"http response","z":"d437cdc6.d8139","name":"","statusCode":"","headers":{},"x":416,"y":315,"wires":[]},{"id":"59655c26.bf8704","type":"debug","z":"d437cdc6.d8139","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":642,"y":247,"wires":[]},{"id":"a7317d15.e9f5d","type":"http in","z":"d437cdc6.d8139","name":"","url":"/aire_dw","method":"get","upload":false,"swaggerDoc":"","x":151,"y":403,"wires":[["308f3853.2a6f88","be9336da.be7958"]]},{"id":"be9336da.be7958","type":"exec","z":"d437cdc6.d8139","command":"/home/masanpar/rm3/python-broadlink/cli/rmscript daikin.menos","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"daikin dw","x":422.5,"y":407.5,"wires":[["1c70f525.bd085b"],["1c70f525.bd085b"],[]]},{"id":"308f3853.2a6f88","type":"http response","z":"d437cdc6.d8139","name":"","statusCode":"","headers":{},"x":427,"y":471,"wires":[]},{"id":"1c70f525.bd085b","type":"debug","z":"d437cdc6.d8139","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":653,"y":403,"wires":[]},{"id":"17423810.519948","type":"http in","z":"d437cdc6.d8139","name":"","url":"/aire_sw","method":"get","upload":false,"swaggerDoc":"","x":141,"y":562,"wires":[["566c3040.485b7","5ee14f25.8457d"]]},{"id":"5ee14f25.8457d","type":"exec","z":"d437cdc6.d8139","command":"/home/masanpar/rm3/python-broadlink/cli/rmscript daikin.swing","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"daikin on","x":417.5,"y":560.5,"wires":[["672101e.f8649"],["672101e.f8649"],[]]},{"id":"566c3040.485b7","type":"http response","z":"d437cdc6.d8139","name":"","statusCode":"","headers":{},"x":421,"y":628,"wires":[]},{"id":"672101e.f8649","type":"debug","z":"d437cdc6.d8139","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":647,"y":560,"wires":[]},{"id":"4ac7129.19caeec","type":"ui_button","z":"2a49828d.12068e","name":"","group":"3d2e881c.483368","order":1,"width":"2","height":"1","passthru":false,"label":"ON / OFF","tooltip":"","color":"","bgcolor":"","icon":"power","payload":"","payloadType":"str","topic":"","x":125,"y":110,"wires":[["a932056c.d5a4e8"]]},{"id":"1063d656.a1502a","type":"ui_button","z":"2a49828d.12068e","name":"","group":"3d2e881c.483368","order":6,"width":"2","height":"1","passthru":false,"label":"CH >>","tooltip":"","color":"","bgcolor":"","icon":"navigate_next","payload":"","payloadType":"str","topic":"","x":141,"y":658,"wires":[["5ee782d.764257c"]]},{"id":"69fc7fc7.14e76","type":"ui_button","z":"2a49828d.12068e","name":"","group":"3d2e881c.483368","order":5,"width":"2","height":"1","passthru":false,"label":"CH <<","tooltip":"","color":"","bgcolor":"","icon":"navigate_before","payload":"","payloadType":"str","topic":"","x":155,"y":531,"wires":[["29588369.85b24c"]]},{"id":"118d20d1.13ddff","type":"ui_button","z":"2a49828d.12068e","name":"","group":"3d2e881c.483368","order":4,"width":"2","height":"1","passthru":false,"label":"Mute","tooltip":"","color":"","bgcolor":"","icon":"volume_mute","payload":"","payloadType":"str","topic":"","x":166,"y":802,"wires":[["5e0109eb.555e68"]]},{"id":"810c49f3.794968","type":"ui_button","z":"2a49828d.12068e","name":"","group":"3d2e881c.483368","order":2,"width":"2","height":"1","passthru":false,"label":"+ VOL.","tooltip":"","color":"","bgcolor":"","icon":"volume_up","payload":"","payloadType":"str","topic":"","x":143,"y":249,"wires":[["3d1ecb39.a52644"]]},{"id":"482f27b2.13deb8","type":"ui_button","z":"2a49828d.12068e","name":"","group":"3d2e881c.483368","order":3,"width":"2","height":"1","passthru":false,"label":"- VOL","tooltip":"","color":"","bgcolor":"","icon":"volume_down","payload":"","payloadType":"str","topic":"","x":162,"y":389,"wires":[["2c9727ca.1dc1c8"]]},{"id":"48661584.07240c","type":"ui_button","z":"e544c915.db4398","name":"","group":"2fac1442.80d2ac","order":2,"width":"2","height":"1","passthru":false,"label":"ON / OFF","tooltip":"","color":"","bgcolor":"","icon":"power","payload":"","payloadType":"str","topic":"","x":153,"y":145,"wires":[["2e49354a.6801fa"]]},{"id":"6bcfe2b.e7be91c","type":"ui_button","z":"e544c915.db4398","name":"","group":"2fac1442.80d2ac","order":1,"width":"2","height":"1","passthru":false,"label":"+ frio","tooltip":"","color":"","bgcolor":"","icon":"expand_less","payload":"","payloadType":"str","topic":"","x":136,"y":343,"wires":[["b557a07e.41bde"]]},{"id":"6371be19.896f4","type":"ui_button","z":"e544c915.db4398","name":"","group":"2fac1442.80d2ac","order":2,"width":"2","height":"1","passthru":false,"label":"- frio","tooltip":"","color":"","bgcolor":"","icon":"expand_more","payload":"","payloadType":"str","topic":"","x":147,"y":499,"wires":[["7df9b3f5.ae902c"]]},{"id":"9cbe021c.183f1","type":"ui_button","z":"e544c915.db4398","name":"","group":"2fac1442.80d2ac","order":3,"width":"2","height":"1","passthru":false,"label":"Swing","tooltip":"","color":"","bgcolor":"","icon":"sync","payload":"","payloadType":"str","topic":"","x":141,"y":656,"wires":[["40f22e2b.8d465"]]},{"id":"819035a1.e18d78","type":"ui_button","z":"d437cdc6.d8139","name":"","group":"b9cf63b3.c6219","order":0,"width":"2","height":"1","passthru":false,"label":"ON / OFF","tooltip":"","color":"","bgcolor":"","icon":"power","payload":"","payloadType":"str","topic":"","x":162,"y":138,"wires":[["7eb16012.cb194"]]},{"id":"749ca47f.d0a1bc","type":"ui_button","z":"d437cdc6.d8139","name":"","group":"b9cf63b3.c6219","order":1,"width":"2","height":"1","passthru":false,"label":"+ aire","tooltip":"","color":"","bgcolor":"","icon":"expand_less","payload":"","payloadType":"str","topic":"","x":145,"y":336,"wires":[["58324dc8.476364"]]},{"id":"dbd28df0.d9e3","type":"ui_button","z":"d437cdc6.d8139","name":"","group":"b9cf63b3.c6219","order":6,"width":"2","height":"1","passthru":false,"label":"- aire","tooltip":"","color":"","bgcolor":"","icon":"expand_more","payload":"","payloadType":"str","topic":"","x":156,"y":492,"wires":[["be9336da.be7958"]]},{"id":"9b7d4997.2b0628","type":"ui_button","z":"d437cdc6.d8139","name":"","group":"b9cf63b3.c6219","order":2,"width":"2","height":"1","passthru":false,"label":"Swing","tooltip":"","color":"","bgcolor":"","icon":"sync","payload":"","payloadType":"str","topic":"","x":150,"y":649,"wires":[["5ee14f25.8457d"]]},{"id":"69b3c2f3.8b845c","type":"ui_gauge","z":"353fdc57.5b8934","name":"","group":"94627edf.8965f","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#ff0000","#e6e600","#ca3838"],"seg1":"","seg2":"","x":612,"y":78,"wires":[]},{"id":"2254f371.3de01c","type":"ui_gauge","z":"353fdc57.5b8934","name":"","group":"94627edf.8965f","order":2,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#0000ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":626,"y":130,"wires":[]},{"id":"ec4d737.ca4dc9","type":"ui_toast","z":"353fdc57.5b8934","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Tienes correo","name":"","x":560,"y":184,"wires":[]},{"id":"d157f9ce.154528","type":"function","z":"353fdc57.5b8934","name":"","func":"str = msg.payload;\nres = str.split(\"-\");\nmsg.payload = res[0]; \nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["ec4613b7.6db5a","9ab9015.9f3ff"]]},{"id":"ec4613b7.6db5a","type":"debug","z":"353fdc57.5b8934","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":480,"wires":[]},{"id":"efb9f7a5.604cd8","type":"function","z":"353fdc57.5b8934","name":"","func":"str = msg.payload;\nres = str.split(\"-\");\nstr1 = res[1].replace(\"\\n\",\"\")\nstr1 = str1.trim();\nmsg.payload = str1\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":480,"wires":[["ec4613b7.6db5a","be42beb0.e3115"]]},{"id":"e34522a9.756a8","type":"serial in","z":"353fdc57.5b8934","name":"","serial":"e0c59da2.0e466","x":130,"y":380,"wires":[["d157f9ce.154528","efb9f7a5.604cd8"]]},{"id":"9ab9015.9f3ff","type":"mqtt out","z":"353fdc57.5b8934","name":"","topic":"temperatura","qos":"","retain":"","broker":"310169d4.057726","x":550,"y":340,"wires":[]},{"id":"be42beb0.e3115","type":"mqtt out","z":"353fdc57.5b8934","name":"","topic":"humedad","qos":"","retain":"","broker":"310169d4.057726","x":480,"y":560,"wires":[]}]